.slider {
  text-align: center;
  margin: 0 auto 0;
}

.slider .inner {
}

.slider {
}

.bannere {
  //padding: 20px 20px;
}

.bannerimage {
  object-fit: cover;
  border-radius: 30px;
}

.bannerswiper {
}
