.slider {
    text-align: center;
    margin: 0px auto 0;
}
.slider .inner {
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}
.slider{
}
.bannere{
    background-color: red;
}
.bannerimage{
    border-radius: 30px;
    height: 350px;
    width: 1000px;
}
.bannerswiper{
}