.reviewall{
    background-color: #F0F0F0;
    min-height: 100vh;
    height: 100%;
}
.reviewgang{
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    text-align: center;
}
.reviewItem{
    margin-top: 20px;
}
.write{
    text-align: right;
    border-radius: 10px;
    .write_span{
        padding: 10px;
        .write_span_span{
            padding-right: 15px;
        }
        .write_span_pencil{
            position: relative;
            top: 2px;
        }
        &:hover{
            background-color: #CCCCCC;


        }
    }
}