.lecture{
    display: grid;
    // display: flex;
    gap: 24px;
    // flex-flow: row wrap;
    grid-template-columns: repeat(4, 1fr);
    // justify-content: flex-start;
    margin: 36px auto;
    // margin: 36px 150px;
    width: 80%;
}