.mainbutton {
    display: flex;
    justify-content: center;
}

.realyoutube {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.mainsection{
    width: 70vw;
    margin: 0 auto;
    padding: 0px 0px;
    max-width: 1050px;
}
