.signup{
    width: 60%;
    margin: 0 auto;
    position: relative;
    ul{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: right;
        // right: 60px;
        right: 8px;
        li{
            width: 300px;
            height: 48px;
            background-color: $lightgray;
            padding-left: 20px;
        }
    }
    .item{
        display: flex;
        width: 100%;
        align-items: center;
        &:first-child{
            margin-top: 60px;
        }
        .name_div{
            flex: 1 1 0;
            text-align: center;
            .name{
                display: block;
                text-align: center;
                margin: 0 auto;
                width: 150px;
            }
        }
        .inputs{
            flex: 3 1 0;
            display: inline-flex;
            align-items: center;
            justify-content: space-around;
            // gap: 20px;
            .select{
                display: flex;
                align-items: center;
                width: 320px;
            }
            .arrow{
                position: relative;
                right: 60px;
                cursor: pointer;
            }
            span{
                font-size: 36px;
            }
            .input_short{
                @include input(200px, left, 20px);
            }
            .input_middle{
                @include input(320px, left, 20px);
            }
            .input_long{
                @include input(400px, left, 20px);
            }
            .input_full{
                @include input(100%, left, 20px);
            }
        }
    }
    .button{
        @include yellowBtn();
        margin-top: 56px;
        width: 100%;
        height: 62.4px;
        border-radius: 30px;
        font-size: 28.4px;
    }

}