@import '_mixins', '_variables';

.header{
    @include header;
    height: 10%;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 136px;
    background-color: white;
    .logo{
        cursor: pointer;
    }
    .ul{
        display: flex;
        list-style: none;
        gap: 30px;
        font-size: 2.4em;
        li{
            cursor: pointer;
        }
    }
    .login{
        border: 1px solid black;
        background-color: white;
        width: 120px;
        height: 53px;
        border-radius: 60px;
        font-size: 2.1em;
        font-weight: bold;
    }
    // @media screen and (min-width: 1188px) {
    // }
}

.mobile_header{
    @include header;
    height: 84px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    // text-align: center;
    background-color: white;
    position: relative;
    .logo{
        cursor: pointer;
        margin: 0 auto;
    }
    .menu{
        cursor: pointer;
        position: absolute;
    }
}

.root_open{
    background-color: rgba(0, 0, 0, 50%);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 60;
}

.dropdown{
    position: fixed;
    z-index: 100;
    width: 100%;
    .dropdown_item{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-bottom: 1px solid #EAEAEA;
        background-color: white;
        position: relative;
        z-index: 100;
        cursor: pointer;
        &:last-child{
            height: 80px;
            line-height: 80px;
            border-radius: 0 0 40px 40px;
            background-color: white;
        }
    }
}

.community{
    &:hover{
        .sub_gnb{
            display: block;
        }
    }
}