@import '_mixins', '_variables';

.header{
    @include header;
    height: 98px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 0 136px;
    background-color: white;
    .logo{
        cursor: pointer;
    }
    .ul{
        display: flex;
        list-style: none;
        gap: 10px;
        font-size: 2.4em;
        margin: 0;
        li{
            cursor: pointer;
            display: inline-block;
            border-radius: 15px;
            padding: 10px;
            &:hover{
                background-color: rgba(208,215,222,0.32);
                transition: .12s ease-out;
            }
        }
    }
    .login{
        border: 1px solid black;
        background-color: white;
        width: 120px;
        height: 53px;
        border-radius: 60px;
        font-size: 2.1em;
        font-weight: bold;
    }
    // @media screen and (min-width: 1188px) {
    // }
}

.mobile_header{
    @include header;
    height: 84px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    // text-align: center;
    background-color: white;
    position: relative;
    .logo{
        cursor: pointer;
        margin: 0 auto;
    }
    .menu{
        cursor: pointer;
        position: absolute;
    }
}

.root_open{
    background-color: rgba(0, 0, 0, 50%);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 60;
}

.dropdown{
    position: fixed;
    z-index: 100;
    width: 100%;
    .dropdown_item{
        width: 100%;
        height: 50px;
        line-height: 50px;
        text-align: center;
        border-bottom: 1px solid #EAEAEA;
        background-color: white;
        z-index: 100;
        cursor: pointer;
        &:hover{
            background-color: rgb(237, 239, 241);
        }
        &:last-child{
            height: 80px;
            line-height: 80px;
            border-radius: 0 0 40px 40px;
            background-color: white;
        }
    }
    .dropdown_item_short{
        width: 100%;
        height: 40px;
        line-height: 40px;
        text-align: center;
        border-bottom: 1px solid #EAEAEA;
        background-color: white;
        z-index: 100;
        cursor: pointer;
        &:hover{
            background-color: rgb(237, 239, 241);
        }
        &:first-child{
            margin-top: 50px;
        }
    }
}

.triangle{
    border-top: 10px solid transparent;;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 22px solid rgb(237, 239, 241);
    position: absolute;
    left: 50%;
    transform:translate(-50%,0);
    top: 42.8px;
    z-index: 300;
    cursor: default;
}