.icon{
    position: absolute;
    right: 16px;
}

.icon_reverse{
    position: absolute;
    right: 16px;
    transform: rotate(-180deg);
}

.infoItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
}