@import '../../variables';

.Mainbuttonmain {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px 0;
  flex-wrap: wrap;
  margin: 20px 0;

  .joinbutton {
    background-color: #F3B376;

    &:hover {
      background-color: #C28F5E;
    }
  }

  .reviewbutton {
    background-color: #ACADEB;

    &:hover {
      background-color: #8A8ABC;
    }
  }

  .informationbutton {
    background-color: #97DFB0;

    &:hover {
      background-color: #7AB28D;
    }
  }

  .eventbutton {
    background-color: #89CFFA;

    &:hover {
      background-color: #6FA7C6;
    }
  }

  button {
    padding: 10px;
    border: none;
    border-radius: 15px;

    div {
      img {
        width: 55%;

      }

      padding-bottom: 5px;
    }

    span {

      color: white;
      font-size: 18px;
    }
  }
}
