
@import '../../variables';

.Mainbuttonmain {
    width: 45vw;
    position: relative;
    top: 10px;
    display: flex;
    justify-content: space-between;
    .joinbutton {
        background-color: #F3B376;
        &:hover{
            background-color: #C28F5E;
        }
    }
    .reviewbutton{
        background-color: #ACADEB;
        &:hover{
            background-color: #8A8ABC;
        }
    }
    .informationbutton{
        background-color: #97DFB0;
        &:hover{
            background-color: #7AB28D;
        }
    }
    .eventbutton{
        background-color: #89CFFA;
        &:hover{
            background-color: #7AB28D;
        }
    }
    button {
        padding: 10px;
        border: none;
        border-radius: 15px;
        width: 120px;
        div{
            img{
                width: 60px;
            
            }
            padding-bottom: 5px;
        }

        span {
            
            color: white;
            font-size: 18px;
        }
    }
}


@media screen and (max-width: 600px) {
    #button{
        span{
            display: none;
        }
    }    
}
  