.commenttit{
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    .commenttitdiv{
        .comment_name{
            font-size: 13px;
            color: #666666;
        }
        .comment_comment{

        }
    }
}