.youtubeall{
    width: 65vw;
    padding-bottom: 60px;
}
.youtubement{
    font-size: 20px;
    font-weight: 600;
}
.youtubetit{
    position: relative;
    top: 20px;
    display: flex;
    justify-content: space-between;
}