.youtubeall{
    width: 100%;
}
.youtubement{
    font-size: 20px;
    font-weight: 600;
}
.youtubetit{
    position: relative;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}