@import '_variables';

@mixin header {
    width: 100%;
    border: 2px solid #EAEAEA;
    font-size: 10px;
}

@mixin yellowBtn() {
    background-color: $yellow;
    border: none;
    color: white;
    cursor: pointer;
    transition: .3s;

    &:hover {
        background-color: gold;
    }
}

@mixin input($width: 320px, $align: left, $left: 20px) {
    width: $width;
    height: 78px;
    background-color: $lightgray !important;
    border: none;
    text-align: $align;
    border-radius: 30px;
    padding-left: $left;
    font-size: 24px;
}

@mixin icon($trans: scale(1)) {
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
        transform: scale(1.1) $trans !important;
    }
}