.lecture{
    // width: 285.5px;
    // height: 400px;
    // justify-content: center;
    border: 1px solid black;
    border-radius: 20px;
    flex: 240px 1 0%;
    .img{
        width: 100%;
        // height: ;
        position: relative;
        &::after{
            display: block;
            content: "";
            padding-bottom: 100%;
        }
    }
    .items{
        padding: 10px;
    }
}